/*

   - Author: Christian GR
   - e-mail: christiangr@gmail.com
   - Web:    www.christiangr.com

*/



/* ||| COLORES

azul oscuro cabecera:
#2d3f50

azul hover cabecera:
#3b5269

*/

/* ||| Fuentes
*/

/*
@font-face {
  font-family: 'Muli';
  src: url('../fonts/Muli-Light.ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf');
}
*/


/*
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Roboto-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: local('Glyphicons Halflings'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2');
}
*/


@import url('http://www.christiangr.es/elkarbackup.css');
